<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ehya Website</title>
    <link rel="stylesheet" href="/asset/css/demo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <div class="container">
            <div class="navbar">
                <nav class="header">

                    <img src="/asset/image/Logo.png" alt="">

                    <ul class="order" type="none">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Landing</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#" class="btn-header">Get It Now</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <section class="first">
            <div class="main">
                <div class="image1">
                    <img src="/asset/image/Image.png" alt="">
                </div>
                <div class="columns">
                    <h1>Make Your new Life happier</h1>
                    <p>we work with sevral lending insurance companies to secure insurence covreage tailored to meet
                        your needs</p>
                    <div class="column4">
                        <div class="engish">
                            <div class="icon">
                                <i class="fa-solid fa-sack-dollar fa-2x"></i>
                            </div>
                            <div class="containet">
                                <span><strong>special expert rates</strong></span>
                                <p>Excellent covreage</p>
                            </div>
                        </div>
                        <div class="engish">
                            <div class="icon">
                                <i class="fa-solid fa-briefcase fa-2x"></i>
                            </div>
                            <div class="containet">
                                <span><strong>special expert rates</strong></span>
                                <p>Excellent covreage</p>
                            </div>
                        </div>
                        <div class="engish">
                            <div class="icon3">
                                <i class="fa-solid fa-user-tie fa-2x"></i>
                            </div>
                            <div class="containet">
                                <span><strong>special expert rates</strong></span>
                                <p>Excellent covreage</p>
                            </div>
                        </div>
                        <div class="engish">
                            <div class="icon3">
                                <i class="fa-solid fa-file fa-2x"></i>
                            </div>
                            <div class="containet">
                                <span><strong>special expert rates</strong></span>
                                <p>Excellent covreage</p>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <a href="#" class="btn-header">Get a Consultation</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="servie">
            <div class="container">
                <div class="upper">
                    <label for=""><strong>our services</strong></label>
                    <h2>insurance made simple for you </h2>
                    <p>we work with sevral leading insurance compines to secure insurance covbreage tailored to meet
                        your need</p>
                </div>
                <div class="middle">
                    <div class="one">
                        <i class="fa-regular fa-circle-check"></i>
                        <span>flexiable productsto make your life easier</span>
                    </div>
                    <div class="two">
                        <i class="fa-regular fa-circle-check"></i>
                        <span>flexiable productsto make your life easier</span>
                    </div>
                    <div class="three">
                        <i class="fa-regular fa-circle-check"></i>
                        <span>flexiable productsto make your life easier</span>
                    </div>
                </div>
                <div class="lower">
                    <div class="column">
                        <div class="c1">
                            <i class="fa-solid fa-house fa-2x"></i>
                            <p><strong>Home insureence</strong></p>
                            <p>home issurence is a type of insurence policy that provides cover for your home.</p>
                            <a href="#">Learn More -></a>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-hand-holding-droplet fa-2x"></i>
                            <p><strong>Life insureence</strong></p>
                            <p>home issurence is a type of insurence policy that provides cover for your home.</p>
                            <a href="#">Learn More -></a>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-car fa-2x"></i>
                            <p><strong>car insureence</strong></p>
                            <p>home issurence is a type of insurence policy that provides cover for your home.</p>
                            <a href="#">Learn More -></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="q">
            <div class="bg">
                <div class="container">
                    <div class="double">
                        <div class="quote">
                            <div class="semicolon">
                                <i class="fa-sharp fa-solid fa-quote-left fa-2x"></i>
                            </div>
                            <span>This platform is one of the best companies I have dealt with in Indonesia.They're
                                always
                                happy to hep, and I wouldn't hesitate to recommend them.</span>
                            <div class="in">
                                <span>Danial Anderson</span>
                                <i class="fa-solid fa-circle-check "></i>
                                <label>verified customer</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="column6">
            <div class="container">
                <div class="lower">
                    <div class="column">
                        <div class="c1">
                            <p>your benifit</p>
                            <h3>we're your right insirence advocate</h3>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-hand-holding-dollar fa-2x"></i>
                            <p><strong>we have the best price</strong></p>
                            <p>our insurence plans offers are priced the same everywheere else.we just make them easier
                                for you to find.</p>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-shield fa-2x"></i>
                            <p><strong>we're your insurance advocate</strong></p>
                            <p>we will deal withthe insurance comopanies for you,even after you've bought your plan.</p>
                        </div>
                        <div class="c1">
                            <i class="fa-brands fa-react fa-2x"></i>
                            <p><strong>car insureence</strong></p>
                            <p>home issurence is a type of insurence policy that provides cover for your home.</p>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-user-injured fa-2x"></i>
                            <p><strong>we are avilable 24/7</strong></p>
                            <p>we have your back 24/7 between our online chat function, email and telephone support.</p>
                        </div>
                        <div class="c1">
                            <i class="fa-solid fa-thumbs-up fa-2x"></i>
                            <p><strong>we make insurence simple</strong></p>
                            <p>we're committed to making applying for insurence as simple as can be for our customer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="image2">
            <div class="home">
                <div class="upper2">
                    <label>our tips for you</label>
                    <h3>reinventing your protection</h3>
                    <p>we share common treads,strategies ideas , short & long stories from the team behind company.</p>
                </div>
                <div class="container">
                    <div class="imagemain">
                        <div class="image11">
                            <span>how to prevent and protect your family from carbon monoxide</span>
                        </div>
                        <div class="image12">
                            <p>motherhood is the hardest and the best job ever</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonial">
            <div class="testi">
                <label style="color: #36B37E;">Testimonial</label>
                <h3>What our customer have to says</h3>
            </div>
            <div class="container">
                <div class="parentTestimonial">
                    <div class="childtestimonial">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>i recive great customer service from the specialist who helped me.i would recommend to anyone
                            who wants quality.</p>
                        <div class="demo2">
                            <div class="imageChild">
                                <img src="/asset/image/Base(1).png" alt="">
                            </div>
                            <div class="childTestimonial">
                                <span>viola manisa</span>
                                <div>
                                    <i class="fa-solid fa-circle-check "></i>
                                    <span>verified customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="childTestimonial2">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>i recive great customer service from the specialist who helped me.i would recommend to anyone
                            who wants quality.</p>
                        <div class="demo2">
                            <div class="imageChild">
                                <img src="/asset/image/im.png" alt="">
                            </div>
                            <div class="childTestimonial">
                                <span>viola manisa</span>
                                <div>
                                    <i class="fa-solid fa-circle-check "></i>
                                    <span>verified customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="childTestimonial3">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>i recive great customer service from the specialist who helped me.i would recommend to anyone
                            who wants quality.</p>
                        <div class="demo2">
                            <div class="imageChild">
                                <img src="/asset/image/Base(1).png" alt="">
                            </div>
                            <div class="childTestimonial">
                                <span>viola manisa</span>
                                <div>
                                    <i class="fa-solid fa-circle-check "></i>
                                    <span>verified customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="childTestimonial4">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <p>i recive great customer service from the specialist who helped me.i would recommend to anyone
                            who wants quality.</p>
                        <div class="demo2">
                            <div class="imageChild">
                                <img src="/asset/image/Image.png" alt="">
                            </div>
                            <div class="childTestimonial">
                                <span>viola manisa</span>
                                <div>
                                    <i class="fa-solid fa-circle-check "></i>
                                    <span>verified customer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="demo">
            <div class="demo2">
                <div class="demo3">
                    <!-- <i class="fa-solid fa-users fa-3x"></i> -->
                    <img class="image111" src="/asset/image/Avatar.png" alt="">
                    <img class="image112" src="/asset/image/Avatar2.png" alt="">
                    <img class="image113" src="/asset/image/Avatar3.png" alt="">
                    <p><strong>friendly</strong> customer support team</p>
                </div>
                <div class="demo3">
                    <div>
                        <img class="demo3Image" src="/asset/image/trustpilot-logo.png" alt="">
                    </div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <p><strong>friendly</strong> customer support team</p>
                </div>
                <div class="demo3">
                    <div>
                        <img class="demo3Image2"  src="/asset/image/Icon_Like.png" alt="">
                    </div>
                    <p><strong>friendly</strong> customer support team</p>
                </div>
            </div>
        </section>


        <footer class="end">
            <div class="container">
                <div class="endSection">
                    <div class="leftEnd">
                        <p>Ready to get insured? submit your request and hear back as soon as tomorrow</p>
                        <div class="innerLeft">
                            <input type="text" name="name" placeholder="your Email">
                            <a href="#" class="btn-header">Get It Now</a>
                        </div>
                        <p>get a response tomorrow if you SUBMIT BY 9PM today.if we recived after 9pm will get a
                            response the following day.</p>
                    </div>
                    <div class="rightEnd">
                        <div class="upper3">
                            <div class="imag">
                                <img src="/asset/image/Path(2).png" alt="">
                            </div>
                            <div class="content">
                                <span><strong>We have the best price</strong></span>
                                <span>our insurence plan offer are priced the sameeverywhere else</span>
                            </div>
                        </div>
                        <div class="lower3">
                            <div class="imag">
                                <img src="/asset/image/Icon_Like.png" alt="">
                            </div>
                            <div class="content">
                                <span><strong>We make insurance simple</strong></span>
                                <span>we're commited to making applying to insurence as simple as can be.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="final">
                    <div class="column1">
                        <img src="/asset/image/Logo.png" alt="">
                        <p>bulid a modern and creative website with crealand</p>
                        <div class="logoEnd">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </div>
                    </div>
                    <div class="column1">
                        <p><strong>Product</strong></p>
                        <p>LandingPage</p>
                        <p>Feature</p>
                        <p>Documentation</p>
                        <p>Referral Program</p>
                        <p>Pricing</p>
                    </div>
                    <div class="column1">
                        <p><strong>Services</strong></p>
                        <p>Documentation</p>
                        <p>Design</p>
                        <p>Themes</p>
                        <p>illustration</p>
                        <p>UI kit</p>
                    </div>
                    <div class="column1">
                        <p><strong>Company</strong></p>
                        <p>About</p>
                        <p>Terms</p>
                        <p>Privacy policy</p>
                        <p>Carriera</p>
                    </div>
                    <div class="column1">
                        <p><strong>More</strong></p>
                        <p>Documentation</p>
                        <p>Licence</p>
                        <p>Changing</p>
                    </div>
                </div>
                <div class="final2">
                    <i class="fa-brands fa-gratipay fa-2x"></i>
                    <p>Copyrigth &#169; 2019, Crafted with love</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>